body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0a0a0c;
  }
  header{
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
   
  }
  header #logo{
    background-image :url(img/header-bg.png);
    width: 90%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100%; 
    float: left;
  }
  .search{
    float: left;
    border-radius: 5px 5px 5px 5px;
    background-color: #f1e6d0;
    opacity: 0.5;
  }
  .search input, button{
    background-color: transparent;
    border: none;
  }
  #root{
    top :150px;
    max-width: 90%;
    border: 3px solid #937341;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
  }
  #root button img{
    margin: 5px;
    width: 60px;
    height: 60px;
    border: 3px solid #937341;
    border-radius: 30px;
    
  }
  #root p{
    margin: 0px;
    color: #f1e6d0;
    border: 1px solid #937341;
    background-color: #937341;
    width: 100px;
    height: 30px;
  }
  #sidebar{
    float :right;
    color: #f1e6d0;
    background-color: transparent;
    width: 70px;
    height: 70px;
    font-size: 50px;
    outline: none;
    border: 0;
  }
  #topnav{
   width: 250px;
   float: left;
   background-color: #0a0a0c;
   opacity: 0.9;
   filter: alpha(opacity=90); /* For IE8 and earlier */
  
  }
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  h4{
    padding: 10px;
  }
  .accordion-menu {
    width: 100%;
    max-width: 250px;
  }
  .accordion-menu li.open .dropdownlink {
    color: #937341;
  }
  .dropdownlink {
    cursor: pointer;
    display: block;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid #937341;
    color: #f1e6d0;
    position: relative;
    transition: all 0.4s ease-out;
  }
  
  .submenuItems {
    display: none;
    background: #937341;
    opacity: 0.5;
  }
  
  .submenuItems a {
    display: block;
    color: #f1e6d0;
    padding: 12px 12px 12px 45px;
    transition: all 0.4s ease-out;
  }
  #btn-close{
    background-color: #0a0a0c;
    color: #f1e6d0;
  }
  .modal {
    background-color: #0a0a0c;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 3%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 700px; /* Full height */
  }
  
  /* Modal Content */
  .modal_content {
    background-color: #0a0a0c;
    margin: auto;
    padding: 10px;
    border: 1px solid #937341;
    width: 100%;
    height: 600px;
    color: #f1e6d0;
  }
  .info {
    width:100%;
    height:550px;
    float: left;
    padding: 20px;
    background-color: rgba(64, 64, 64, 0.6);
  }
  
  /* The Close Button */
  .close {
    color: #f1e6d0;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  @media screen and (max-width: 699px) { 
    header{
      height: 190px;
    }
    header #logo{
      background-image :url(img/lol.png.png);
      width: 80%;
      height: 190px;
    }
    #root{
      top:190px;
    }
    #sidebar{
      width: 50px;
      height: 50px;
      font-size: 40px;
    }
  }
  @media screen and (max-width: 499px) { 
    header{
      height: 160px;
    }
    header #logo{
      background-image :url(img/lol.png.png);
      height: 160px;
    }
    #root{
      top:160px;
    }
    #sidebar{
      width: 40px;
      height: 40px;
      font-size: 25px;
    }
  }
  @media screen and (max-width: 399px) { 
    header{
      height: 130px;
    }
    header #logo{
      background-image :url(img/lol.png.png);
      height: 130px;
    }
    #root{
      top:130px;
    }
    #sidebar{
      width: 30px;
      height: 30px;
      font-size: 15px;
    }
  }

#tag {
  color: yellow;
  font-style: oblique;
  font-size: 17px;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #937341;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #937341;
  }
